#{if play.mode.name() == 'DEV'}
<!DOCTYPE html>
<html>
    <head>
        <title>Application error</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>    
    </head>
    <body>
            #{503 exception /}
    </body>
</html>
#{/if}
#{else}
    #{extends 'errors/layout.html' /}
    <h1>Oops&#33;<br/>Service unavailable.</h1>
    <br/>
    <p>We&apos;re currently down for maintenance or the server isn&apos;t available right now. If the problem persists, please contact us at <a href="mailto: support@danutech.com?subject=503 ${result}" class="contact">support@danutech.com</a></p>
    <p>
        #{if play.Play.id.contains('vfie')}
        <a href="@{Incidents.index()}" class="btn btn-inverse btn-large">Back to SmartFeedback</a>
        #{/if}
        #{else}
        <a href="@{Incidents.index()}" class="btn btn-inverse btn-large">Back to SayMetrix</a>
        #{/else}
    </p>
#{/else}
