#{if play.mode.name() == 'DEV'}
<!DOCTYPE html>
<html>
    <head>
        <title>Not found</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>    
    </head>
    <body>
            #{404 result /}
    </body>
</html>
#{/if}
#{else}
<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie7 ie78 ie789" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 ie78 ie789" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9 ie789" lang="en"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <title>Not found</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/> 
        <link rel="shortcut icon" type="image/ico" href="@{'/public/images/favicon.ico'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/bootstrap.css'}" />
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/error.css'}" />   
        <!--[if lte IE 9]>
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/ie-error.css'}"></script>
		<![endif]-->
        #{if play.Play.id.contains('vfie')}
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/smartfeedback.css'}" />
        #{/if}
    </head>
    <body class="errorCode">
        <div class="wrapper">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse"
                        data-target=".nav-collapse"> <span class="icon-bar"></span>
                            <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </a>
                        #{if play.Play.id.contains('vfie')}
                        <img src="@{'public/images/smartfeedback-logo.png'}" width="130" height="33"/>
                        #{/if}
                        #{else}
                        <img src="@{'public/images/saymetrix-logo.png'}" width="113" height="33"/>
                        #{/else}
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2">
                        &nbsp;
                    </div>
                    <div class="span8">
                        <div class="hero-unit">
                            #{doLayout /}
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <ul>
                    <li><a href="#" id="f-home">About</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#" class="footer-twitter">Twitter</a></li>
                    <li><a href="#" class="footer-blog">Blog</a></li>
                    <li class="copyright">&copy; ${org.joda.time.DateTime.now().year().getAsText()} DANU Technologies Ltd.</li>
                </ul>
            </div>
        </div>
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="@{'/public/javascripts/modernizr.custom.js'}"></script>
        <script src="@{'/public/javascripts/jquery-1.7.2.min.js'}"></script>
    </body>
</html>
#{/else}
