#{extends 'Secure/layout.html' /}
#{set title:'Change Password' /}
#{set 'moreStyles'}
    #{get 'moreStyles' /}
    #{stylesheet 'secure.css' /}
#{/set}
%{ minified = (play.Play.mode == play.Play.Mode.PROD) ? ".min" : "" }%
#{set 'moreScripts'}
    <script type="text/javascript" language="JavaScript">
        function FocusOnInput() {
            document.getElementById("password").focus();
        }
        
        function checkIsDefined(value, cls) {
            if (value === undefined || value == "") {
                $(cls).addClass('error');
                $(cls+' .help-inline').removeClass('hide');
                $(cls+' .help-inline').text("A value is required.");
                return false;
            }
            return true;
        }

        $(document).ready(function() {
            $('.confirm').click(function() {
                $('.password').removeClass('error');
                $('.password .help-inline').addClass('hide');
                $('.confirm-password').removeClass('error');
                $('.confirm-password .help-inline').addClass('hide');

                var password = $("#original-password").val();
                var confirm = $("#original-confirm-password").val();
                var confirmValid = false;
                
                if (checkIsDefined(password, '.password')) {
                    if (checkIsDefined(confirm, '.confirm-password')) {
                        if (confirm == password) {
                            confirmValid = true;
                        } else {
                            $('.confirm-password').addClass('error');
                            $('.confirm-password .help-inline').removeClass('hide').text("Passwords must match.");
                        }
                    }
                }
                return confirmValid;
            });
        });
    </script>
    #{get 'moreScripts' /}
#{/set}
<div id="forgot-content">
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
            <div class="modal" id="forgot-modal">
                <div class="modal-header">
                    <h2>Change your Password</h2>
                </div>
                <div class="modal-body">
                    #{form @resetPassword(), class:'login-form'}
                    <input type="hidden" name="token" value="${flash.token}"/>
                    <fieldset>
                        <label>New Password:</label>
                        <div class="control-group password #{if flash.error}error#{/if}">
                            <div class="controls">
                                <input id="original-password" type="password" name="password" placeholder="&{'secure.password'}" title="Password" autocapitalize="none" />
                                <span class="help-inline">#{if flash.error}&{flash.error}#{/if}</span>
                            </div>
                        </div>
                        <label>&{'secure.confirm-password'}:</label>
                        <div class="control-group confirm-password">
                            <div class="controls">
                                <input id="original-confirm-password" type="password" name="confirm-password" placeholder="&{'secure.confirm-password'}" title="Confirm Password" autocapitalize="none" />
                                <span class="help-inline hide"></span>
                            </div>
                        </div>
                        <input class="btn btn-primary confirm" type="submit" value="Change Password" />
                    </fieldset>
                    #{/form}
                </div>
                <div class="modal-footer">
                    Need help? <a href="mailto:support@danutech.com">Contact out Support team.</a>
                </div>
            </div>
        </div>
        <div class="span2"></div>
    </div>
</div>