#{extends 'Secure/layout.html' /}
#{set title:'Forgot Password' /}
#{set 'moreStyles'}
    #{get 'moreStyles' /}
    #{stylesheet 'secure.css' /}
#{/set}
%{ minified = (play.Play.mode == play.Play.Mode.PROD) ? ".min" : "" }%
#{set 'moreScripts'}
    <script type="text/javascript" language="JavaScript">
        function FocusOnInput() {
            document.getElementById("username").focus();
        }
        $(document).ready(function() {
            $('.submit').click(function() {
                var email = $('#username').val();
                var reg = /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
                if (!reg.test(email)) {
                    $('.help-block').removeClass('hide');
                    return false;
                }
            });
        });
    </script>
    #{get 'moreScripts' /}
#{/set}
<div id="forgot-content">
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
            <div class="modal" id="forgot-modal">
                <div class="modal-header">
                    <h2>Forgot your password?</h2>
                </div>
                <div class="modal-body">
                    #{if flash.error}
                    <div class="alert alert-error">
                        <button class="close" data-dismiss="alert">&times;</button>
                        &{flash.error}
                    </div>
                    #{/if}
                    #{form @requestReset(), class:'login-form'}
                    <fieldset>
                        <label>Enter your email address:</label>
                        <input class="" type="text" name="email" id="username" value="${flash.username}" placeholder="&{'secure.username'}" title="Email" autocapitalize="off" />
                        <input class="btn btn-primary submit" type="submit" value="Submit" />
                        <div class="control-group error">
                            <div class="controls">
                                <span class="help-block hide">Please enter a valid email address</span>
                            </div>
                        </div>
                    </fieldset>
                    #{/form}
                </div>
                <div class="modal-footer">
                    Need help? <a href="mailto:support@danutech.com">Contact out Support team.</a>
                </div>
            </div>
        </div>
        <div class="span2"></div>
    </div>
</div>