#{extends 'Secure/layout.html' /}
#{set title:'Forgot Password' /}
#{set 'moreStyles'}
    #{get 'moreStyles' /}
    #{stylesheet 'secure.css' /}
#{/set}
%{ minified = (play.Play.mode == play.Play.Mode.PROD) ? ".min" : "" }%
#{set 'moreScripts'}
    #{get 'moreScripts' /}
#{/set}
<div id="forgot-content">
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
            <div class="modal" id="forgot-modal">
                <div class="modal-header">
                    <h2>We've sent password reset instructions to your email address.</h2>
                </div>
                <div class="modal-body">
                    <p>If you don't receive them within a few minutes, check your email's spam and junk filters, or try <a href="@{Security.forgotPassword()}">resending your request</a>.</p>
                </div>
                <div class="modal-footer">
                    Need help? <a href="mailto:support@danutech.com">Contact out Support team.</a>
                </div>
            </div>
        </div>
        <div class="span2"></div>
    </div>
</div>