#{extends 'Secure/layout.html' /}
#{set title:'Change Password' /}
#{set 'moreStyles'}
    #{get 'moreStyles' /}
    #{stylesheet 'secure.css' /}
#{/set}
%{ minified = (play.Play.mode == play.Play.Mode.PROD) ? ".min" : "" }%
#{set 'moreScripts'}
    #{get 'moreScripts' /}
#{/set}
<div id="forgot-content">
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
            <div class="modal" id="forgot-modal">
                <div class="modal-header">
                    <h2>Your password has been reset.</h2>
                </div>
                <div class="modal-body">
                    <p>You can now try to log in with your new details.</p>
                    <p><a class="btn btn-primary" href="@{Incidents.index()}">Log in</a></p>
                </div>
                <div class="modal-footer">
                    Need help? <a href="mailto:support@danutech.com">Contact out Support team.</a>
                </div>
            </div>
        </div>
        <div class="span2"></div>
    </div>
</div>