%{
    if (_useInternalJS) {
 }%
        #{set 'tagScripts'}
            #{press.script 'sm-networkevents-create.js' /}
        #{/set}
    %{
    }
}%
<div id="create-event" class="modal hide fade eventModal">
  <div class="modal-header">
    <img class="spinner close" src="@{'/public/images/spinner.gif'}">  
    <h3><span>Report Network Event</span> <small></small></h3>
  </div>
  <div class="modal-body">
    <ul id="event-tabs" class="nav nav-tabs" data-tabs="tabs">
        <li><a href="#event-details" data-toggle="tab">Details</a></li>
        <li><a href="#event-location" data-toggle="tab">Sites</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="event-details">
            <form class="form-horizontal" action="@{NetworkEvents.create()}" method="POST" onsubmit="return false;" >
                <input type="hidden" name="id" />
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="event-type">Event Type</label>
                        <div class="controls">
                            <select id="event-types" class="input-large select2Large" name="event-type">
                                #{list items:_types, as:'type' }
                                    <option value="${type.key}">${type.name}</option>
                                #{/list}
                            </select>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="event-start-date">Start Date</label>
                        <div class="controls">
                            <div class="input-append date" id="event-start-date" data-date='${today}' data-date-format="dd/mm/yyyy">
                                <div class="input-container">
                                    <input type="text" class="input-small" name="event-start-date" placeholder="DD/MM/YYYY">
                                </div>
                                <span class="btn add-on"><i class="icon-calendar"></i></span>
                            </div>
                            <div class="input-append bootstrap-timepicker">
                                <input id="event-start-time" type="text" class="input-small">
                                <span class="btn add-on"><i class="icon-time"></i></span>
                            </div>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="event-end-date">End Date</label>
                        <div class="controls">
                            <div class="input-append date" id="event-end-date" data-date='${today}' data-date-format="dd/mm/yyyy">
                                <div class="input-container">
                                    <input type="text" class="input-small" name="event-end-date" placeholder="DD/MM/YYYY">
                                </div>
                                <span class="btn add-on"><i class="icon-calendar"></i></span>
                            </div>
                            <div class="input-append bootstrap-timepicker">
                                <input id="event-end-time" type="text" class="input-small">
                                <span class="btn add-on"><i class="icon-time"></i></span>
                            </div>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="event-subject">Subject</label>
                        <div class="controls">
                            <input id="event-subject" type="text" class="input-large" name="event-subject" placeholder="Title of Event">
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="event-description">Description</label>
                        <div class="controls">
                            <textarea class="input-large" rows="6" name="event-description" placeholder="Enter a brief description of the event. (Optional)"></textarea>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="tab-pane" id="event-location">
            <form class="form-horizontal" action="@{NetworkEvents.create()}" onsubmit="return false;">
                <div class="control-group">
                    <div class="controls">
                        <select id="event-sites" class="input-large select2MultiLarge pull-left" name="event-sites" multiple>
                            <option></option>
                        </select>
                        <div class="btn-group event-site-buttons pull-left">
                            <button id="event-site-all" class="btn">All</button>
                            <button id="event-site-none" class="btn">None</button>
                        </div>
                        <span class="help-inline"></span>
                    </div>
                </div>
            </form>
            <div id="event-map"></div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn pull-left" data-dismiss="modal">Cancel</button>
    <button id="event-back" class="btn btn-primary">Back</button>
    <button id="event-create" class="btn btn-primary">Next</button>
  </div>  
</div>