*{*** Acts as the table of contents for the topNTable tag ***}*
<table class="table table-condensed rpt-dmo">
    <thead>
        <tr>
            <th>Demographics</th>
        </tr>
    </thead>
    <tbody>
        <tr><td class="dimension active"><a href="${models.Dimension.ACCOUNT.getId()}">Account</a></td></tr>
        <tr><td class="dimension"><a href="${models.Dimension.SUBSCRIBER.getId()}">Subscriber</a></td></tr>
        <tr><td class="dimension"><a href="${models.Dimension.REGION.getId()}">Region</a></td></tr>
    </tbody>
</table>
<table class="table table-condensed rpt-dmo">
    <thead>
        <tr>
            <th>Incident</th>
        </tr>
    </thead>
    <tbody>
        <tr><td class="dimension"><a href="${models.Dimension.INCIDENT_TYPE.getId()}">Incident Type</a></td></tr>
        <tr><td class="dimension"><a href="${models.Dimension.POSITION.getId()}">Position</a></td></tr>
        <tr><td class="dimension"><a href="${models.Dimension.FREQUENCY.getId()}">Frequency</a></td></tr>
        <tr><td class="dimension"><a href="${models.Dimension.CELL.getId()}">Mobile Cell</a></td></tr>
    </tbody>
</table>
<table class="table table-condensed rpt-dmo">
    <thead>
        <tr>
            <th>Device</th>
        </tr>
    </thead>
    <tbody>
        <tr><td class="dimension"><a href="1">Operating System</a></td></tr>
        <tr><td class="dimension"><a href="5">Location Technology</a></td></tr>
    </tbody>
</table>