#{extends 'Secure/layout.html' /}
#{set title:'Login' /}
#{set 'moreStyles'}
    #{get 'moreStyles' /}
    #{stylesheet 'secure.css' /}
#{/set}
%{ minified = (play.Play.mode == play.Play.Mode.PROD) ? ".min" : "" }%
#{set 'moreScripts'}
    #{get 'moreScripts' /}
    #{script 'twitter/rotate.js' /}
    #{script 'twitter/twitter-feed.js' /}
    <script src="https://api.twitter.com/1/statuses/user_timeline.json?screen_name=${play.configuration['login.twitter']}&include_rts=true&count=4&callback=twitterCallback2" type="text/javascript"></script>
    <script type="text/javascript" language="JavaScript">
        function FocusOnInput() {
            document.getElementById("username").focus();
        }
    </script>
#{/set}
<div id="login-content">
   	<div class="welcome">
        <div class="welcome-text">
            <h2>Welcome to</h2>
            
            #{if play.Play.id.contains('vfie')}
                <h1>SmartFeedback</h1>
            #{/if}
            #{else}
                <h1>SayMetrix</h1>
            #{/else}
            <p>Track customer sentiment<br/>Improve service quality</p>
        </div>
   	</div>
   	#{if flash.error}
    <div class="well well-small alert-error">
        <button class="close" data-dismiss="alert">&times;</button>
        &{flash.error}
    </div>
    #{/if}
   	<div class="login">
        #{form @authenticate(), class:'login-form'}
        <fieldset>
            <input class="" type="text" name="username" id="username" value="${flash.username}" placeholder="&{'secure.username'}" title="Email" autocapitalize="none" />
            <table>
                <tr>
                    <td>
                        <input class="password" type="password" name="password" value="" placeholder="&{'secure.password'}" title="Password" autocapitalize="none" />
                    </td>
                    <td>
                        <input class="btn btn-primary" type="submit" id="signin" value="&{'secure.signin'}" />
                    </td>
                </tr>
            </table>
            <div class="remember-field">
                <label>
                    <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} /> &{'secure.remember'}
                </label>
                <span class="seperator">·</span>
                <a class="forgot" href="@{Security.forgotPassword()}">&{'secure.forgot'}</a>
            </div>
        </fieldset>
        #{/form}
   	</div>
   	<div class="latest">
        <h2>Tweets from @${play.configuration['login.twitter']}</h2>
        <div class="twitter-feed">
            <ul id="twitter_update_list" class="rotate"></ul>
        </div>
        <a class="read-more" href="http://www.twitter.com/${play.configuration['login.twitter']}">Follow us on Twitter</a>
   	</div>
    
</div>