.DS_Store
.classpath
.project
.settings
eclipse
lib
test-result
tmp
*.swp
.idea
*.iml
*.ipr
*.iws
modules
nbproject
logs
target
.sass
precompiled
.sonar-ide.properties
public/javascripts/press
public/stylesheets/press
!/public/themes/lib/
*.log
out
