#{extends 'admin.html' /}
#{set title:'Accounts' /}
#{set currentTab:'admin' /}
#{set 'moreScripts'}
  #{press.script 'sm-accounts.js' /}
#{/set}

<h1>Accounts</h1>
<table id="accounts" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th>Key</th>
      <th>Name</th>
      <th>Manager</th>
      <th>Contact</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div id="create" class="modal hide fade">
  <div class="modal-header">
    <img class="spinner close" src="@{'/public/images/spinner.gif'}">  
    <h3><span></span> Account</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" action="@{Accounts.create()}" method="POST" >
      <fieldset>
        <div class="control-group">
            <input type="text" class="input-xlarge" name="account.key" placeholder="Key">
            <span class="help-inline"></span>
        </div>
        <div class="control-group">
            <input type="text" class="input-xlarge" name="account.name" placeholder="Name">
            <span class="help-inline"></span>
        </div>
        <div class="control-group">
          	<select id="managers" class="input-xlarge select2Large" name="account.manager.id">
          		<option></option>
              </select>
            <span class="help-inline"></span>
        </div>
        <div class="control-group">
            <input type="text" class="input-xlarge" name="account.contact" placeholder="Contact (Optional)">
            <span class="help-inline"></span>
        </div>
      </fieldset>
    </form>
  </div>  
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a id="createBtn" href="#" class="btn btn-primary">Create</a>
  </div>  
</div>

#{deleteDialog type:'account' /}